.edit-modal {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: 400;
  background-color: "background.paper";
  border: "2px solid #000";
  box-shadow: "24";
  padding: 4;
}

@media only screen and (max-width: 1214px) {
  [class*="check"] {
    margin-right: 20%;
  }
}

@media only screen and (max-width: 1214px) {
  [class*="check1"] {
    margin-top: 30%;
    padding-bottom: 2%;
    width: 100%;
  }
}

@media only screen and (max-width: 1214px) {
  [class*="check2"] {
    padding-bottom: 2%;
    width: 100%;
  }
}
